[Desktop Entry]
Name=ErikrafT Drop
Comment=File sharing by ErikrafT Drop
Exec=erikraft-drop
Icon=io.github.erikraft.Drop
Terminal=false
Type=Application
Categories=Network;Utility;
